:host {
  display: block;
}

div.title {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    height: 10em;
    width: 50%;
    object-fit: cover;
  }
}

div.content {
  width: 80%;
  margin: 2em 10%;

  h1 {
    color: #fff;
    text-shadow: 0 0 5px grey;
    text-align: center;
  }
}
