div.card {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10em 1fr;
  box-shadow: 2px 2px 5px grey;
  border-radius: 0.25em;

  h5 {
    font-weight: bold;

    .text-muted {
      font-weight: normal;
      font-size: 1rem;
    }
  }

  .img-container {
    display: flex;
    height: 100%;
    vertical-align: middle;
  }

  .card-body {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0;
    padding-top: 1em;

    .right {
      float: right;
    }
  }
}
