:host {
  display: block;
  box-shadow: 2px 2px 5px grey;
  border-radius: 0.5em;

  h5 {
    font-weight: bold;
  }
}

.badge {
  transform: translateY(-0.1em);
}

.list-group {
  user-select: none;
  cursor: default;
}

img {
  height: 15em;
  width: 100%;
  object-fit: contain;
}

.card {
  border-radius: 0.5em;
}

.card-body {
  white-space: pre-wrap;
}

.description {
  max-height: 10em;
  overflow: auto;
}
